<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>353712543190-v60hgn6dopbu8sc2678quqvkub8bhp1t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.353712543190-v60hgn6dopbu8sc2678quqvkub8bhp1t</string>
	<key>API_KEY</key>
	<string>AIzaSyC6hUEle0GuQVbUu6qVU7bKtnTTaMtzCBk</string>
	<key>GCM_SENDER_ID</key>
	<string>353712543190</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ibtida.Flash-Chat-iOS13</string>
	<key>PROJECT_ID</key>
	<string>flashchat-960a1</string>
	<key>STORAGE_BUCKET</key>
	<string>flashchat-960a1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:353712543190:ios:30aaff66cd1733e8df4077</string>
	<key>DATABASE_URL</key>
	<string>https://flashchat-960a1.firebaseio.com</string>
</dict>
</plist>